<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/angular.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/angular-route.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/home.css">
</head>
 


<body ng-app="myApp" ng-controller="homeController" ng-init="initData()">


<!-- Search diary -->
  <div class="w3-red" id="tour">
   <div class="w3-container w3-content w3-padding-64" style="max-width:800px">

    <p><input class="w3-input" placeholder="yyyy-MM-dd" type="text" ng-model="search_date" ></p>
    <p class="w3-center"><button class="w3-button w3-pale-blue" ng-click="search_diart()">Search</button></p>

  </div>
  <div ng-repeat="item in Search_diarys" class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Title: {{item.Title}}</h2>
    <p class="w3-opacity "> <b>Date: </b> {{item.Date | date:'yyyy-MM-dd'}} <br>
                       <i><b>Weather: </b> {{item.Weather.main}} <br>
                       <b>Temp: </b>{{item.Weather.temp}}</i></p><br>
    <p class="w3-justify">{{item.content}}</p><br>
  </div>
  <div align="right">

    <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" style="margin-right: 15px" ng-click="delete_diary(item,$index)">Delete</button>
</div>
  <hr>
</div>
</div>

<!-- Add diary -->
<div class="w3-black" id="tour">
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
    <h2 class="w3-wide w3-center">Name: {{userName}}</h2>
    <p class="w3-opacity w3-center"><i>Date : {{date | date:'yyyy-MM-dd'}}
    </i></p>
    <p class="w3-opacity w3-center"><i>Country : {{weather.name}}</i></p>
    <p class="w3-opacity w3-center"><i>Weather: {{weather.weather[0].description}}</i></p>



    <p><input class="w3-input" placeholder="Title" type="text" ng-model="title" ></p>
    <textarea  class="w3-input" rows="4" cols="50" placeholder="Content" ng-model="content"></textarea>
    <p class="w3-center"><button class="w3-button w3-pale-blue" ng-click="addDiary()">Submit your diary</button></p>

  </div>
</div>


<!-- diary History -->
<div ng-repeat="item in diarys" class="w3-content" style="max-width:2000px;margin-top:46px">

  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Title: {{item.Title}}</h2>
    <p class="w3-opacity "> <b>Date: </b> {{item.Date | date:'yyyy-MM-dd'}} <br>
     <i><b>Weather: </b> {{item.Weather.main}} <br>
       <b>Temp: </b>{{item.Weather.temp}}</i></p><br>
       <p class="w3-justify">{{item.content}}</p><br>
     </div>
     <div align="right">

      <button class="w3-btn w3-white w3-border w3-border-red w3-round-large" style="margin-right: 15px" ng-click="delete_diary(item,$index)">Delete</button>
    </div>
    <hr>
  </div>

</body>
</html>
