<!DOCTYPE html>
<html>
<head>
  <title>Sign up Login</title>
  <script src="js/angular.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/angular-route.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="css/login.css">
</head>



<body ng-app="myApp" ng-controller="indexController" style="background-color: white">
  
  <div class="form">

    <ul class="tab-group">
     <li class="tab active" ng-show="isSet(2)">
       <button   ng-click="setTab(1)" class="button button-block" style="background-color: red"/>Sign In</button>
     </li>

     <li ng-show="isSet(1)">   
      <button  ng-click="setTab(2)" class="button button-block"/>Sign Up</button>
    </li>
  </ul>

  <div class="tab-content" ng-show="isSet(1)">
    <h1>Login</h1>

    <form >

      <div class="top-row">

        <div class="field-wrap">
          <input type="text" ng-model="userName"  placeholder="User Name *"  required autocomplete="off" />
        </div>

        <div class="field-wrap">
         <input type="text" ng-model="pw"  placeholder="Password *"  required autocomplete="off" />           
       </div>

       <button  ng-keydown="login()" ng-click="login()" class="button button-block"/>Login</button>
     </div>  
   </form>

 </div>


 <div class="tab-content" ng-show="isSet(2)">
  <h1>Sign Up for Free</h1>

  <form >

    <div class="top-row">

      <div class="field-wrap">
        <input type="text" ng-model="email"  placeholder="Email *"  required autocomplete="off" />
      </div>

      <div class="field-wrap">
        <input type="text" ng-model="userName"  placeholder="User Name *"  required autocomplete="off" />
      </div>

      <div class="field-wrap">
       <input type="text" ng-model="pw"  placeholder="Password *"  required autocomplete="off" />           
     </div>

     <button  ng-keydown="register()" ng-click="register()" class="button button-block" style="background-color: red" />Register</button>
   </div>  
 </form>

</div>

</body>
</html>
